.click{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:moz-none;-ms-user-select:none;user-select:none;cursor:pointer;}.click:focus{outline:none;}
@font-face{font-family:"Source Sans Pro";font-style:normal;font-weight:normal;src:local("Source Sans Pro"),local("SourceSansPro-Regular");}@font-face{font-family:"Source Sans Pro";font-style:normal;font-weight:900;src:local("Source Sans Pro Black"),local("SourceSansPro-Black");}html,body{margin:0;padding:0;}
html.bg{background:url('./background.jpg') no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
body{font-size:16px;font-weight:normal;font-family:"Source Sans Pro","Verdana","Arial","Helvetica",sans-serif;text-align:left;overflow-y:scroll;background-color:transparent;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
.ratings{padding:4px;}
p{margin:12px 0;padding:0;}
h2{text-align:center;font-size:2em;font-weight:900;}
h3{text-align:center;font-size:1.6em;font-weight:900;border-top:4px dotted #c9d7f1;padding:16px;margin:64px 0 24px 0;}
input,select{font-size:16px;font-weight:normal;font-family:"Source Sans Pro","Verdana","Arial","Helvetica",sans-serif;max-width:100%;}
select{vertical-align:middle;}select:focus{outline:none;}
input{border:none;border-bottom:1px dashed #c9d7f1;padding:0;margin:2px;vertical-align:middle;background:transparent;-webkit-appearance:none;-moz-appearance:none;}input:focus{border-bottom:1px dashed #a1b9e7;outline:none;}
::-webkit-input-placeholder{color:#a1b9e7;}
:-moz-placeholder{color:#a1b9e7;}
::-moz-placeholder{color:#a1b9e7;}
:-ms-input-placeholder{color:#a1b9e7;}
label{vertical-align:middle;}
.button{display:inline-block;background:#dde6f6;color:#005fa3;margin:6px;padding:6px 10px;font-weight:900;border:none;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:moz-none;-ms-user-select:none;user-select:none;cursor:pointer;}.button:focus{outline:none;}
.button:hover{border:none;background:#f2f5fb;}
#calculer{display:block;margin:0 20px 20px 20px;padding:12px;text-align:center;background:#474747;color:#e6e6e6;border-radius:6px;font-weight:bold;font-size:1.2em;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:moz-none;-ms-user-select:none;user-select:none;cursor:pointer;}#calculer:focus{outline:none;}
#calculer:hover{background-color:#2d2d2d;color:#ffffff;}
#calculer.hidden{display:none;}
.rm{font-weight:900;display:inline-block;background:#ffa2a2;color:#fff;padding:1px 4px 4px 4px;margin:0 0 0 4px;border-radius:8px;font-size:0.9em;line-height:0.8em;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:moz-none;-ms-user-select:none;user-select:none;cursor:pointer;vertical-align:0.2em;}.rm:focus{outline:none;}
.rm:hover{background:#ffd5d5;}
.sep,.nom,.tpBateau,.rating{vertical-align:0;}
.nom{width:220px;}
.tpBateau{width:186px;font-size:0.8em;}
.rating{width:46px;}
.multilines .sep{display:none;}
.multilines input{display:block;margin:auto;}
.h,.min,.s,.pl{width:28px;text-align:center;vertical-align:0;}
.tps,.place{display:inline-block;}
.selectBateau{width:234px;height:140px;max-width:234px;max-height:140px;overflow:auto;font-size:0.8em;background:#fff;position:absolute;border:4px solid #c9d7f1;border-radius:0 0 8px 8px;}.selectBateau div{font-weight:900;background:#dde6f6;color:#005fa3;text-align:center;padding:4px;cursor:default;}
.selectBateau span{display:block;cursor:pointer;padding:2px 4px;}.selectBateau span:hover{background:#f2f5fb;}
.selectBateau span.hidden{display:none;}
#stats{text-align:center;margin:32px 0;}
.clm thead,.ratings thead{word-break:break-all;}
.eqg{text-align:left;min-width:200px;}
.bateau{display:block;margin-top:4px;padding:4px 4px 0 0;border-top:1px dotted #c9d7f1;font-style:italic;font-size:0.8em;text-transform:uppercase;text-align:right;}
.points{text-align:left;}
.rm-pts{color:#999;font-style:italic;}
.display{text-align:center;}
.copy{text-align:center;font-style:italic;margin:32px 0;}
table{margin:0 auto;border-collapse:collapse;background:#fff;}table td{border:1px solid #dde6f6;text-align:center;padding:5px;}table td.eqgInputs{text-align:left;min-width:244px;}
table td.b-top{border-top:none;}
table td.b-bottom{border-bottom:none;}
thead{background:#dde6f6;color:#005fa3;font-weight:900;text-align:center;}thead td{padding:6px 10px;}
td.probleme{background:#ffefef;}
.navEtapes{list-style:none;margin:20px 20px 0 20px;padding:0;text-align:center;}.navEtapes li{display:inline-block;margin:0;padding:8px;background-color:#474747;color:#e6e6e6;border-radius:6px;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:moz-none;-ms-user-select:none;user-select:none;cursor:pointer;margin-bottom:6px;}.navEtapes li:focus{outline:none;}
.navEtapes li.e2{margin:0 30px;}
.navEtapes li:hover{background-color:#2d2d2d;color:#ffffff;}
.etape1 .e1,.etape2 .e2,.etape3 .e3{background-color:#2d2d2d;color:#ffffff;font-weight:900;border-bottom-left-radius:0;border-bottom-right-radius:0;border-bottom:6px solid #2d2d2d;margin-bottom:0;}
#etapes{padding:2px 12px;margin:0 20px 20px 20px;background:#fff;max-width:100%;}
#manches{margin-bottom:24px;}
@media screen and (max-width:600px){#etapes{margin:0 0 20px 0;padding:2px 8px;} .eqg{min-width:0;}}@media screen and (max-width:380px){.navEtapes li.e2{margin:0 12px;} table td{border-color:#999;} .nom{width:176px;} .tpBateau{width:142px;} .selectBateau{width:190px;}}@media print{html{background:none;} h2{font-weight:bold;} .navEtapes,.display,#calculer{display:none;} #etapes{margin:0;}}
